*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.headdiv{
    position: relative;
    height: 8%;
    
}
.bodydiv{
    display: flex;
    position: relative;
    height: 84%;   
    background-image: url(../ImageFile/b.jpg);
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.left
{
    position: relative;
    width: 16%;
    /* background-color: crimson;
    justify-content: center;
    align-items: center; */
}
.right{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    /* background-color: DodgerBlue; */
    margin-left:10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    /* background-color: whitesmoke; */
}
.upper,.lower{
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}


.footerdiv{
    position: relative;
    height: 8%;
    background-image: url(../ImageFile/A.jpg);
    /* height: 100%; */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}